{
    "require": {

    },
    "require-dev": {
        "squizlabs/php_codesniffer": "3.*",
        "phpunit/phpunit": "^6.0",
        "apigen/apigen": "dev-master",
        "roave/better-reflection": "dev-master#a402048"
    },
    "autoload": {
        "psr-4": {
            "App\\Acme\\": "src/"
        }
    },
    "autoload-dev": {
        "psr-4": {
            "AppTest\\Acme\\": "test/"
        }
    },
    "minimum-stability": "dev",
    "prefer-stable": true
}