<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./app/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhiteList="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <directory>./app/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>